$primary-color: rgb(36, 36, 54);
$secondary-color: #6ab9b5e0;
$show-home-image: true;
$home-image: url(../img/background2.jpg);
$background-opacity: 0.6;

//Ease Out Function
@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover; //cover whole space
      &:after {
        // Create Overlay "after" / behind the body element
        content: "";
        position: fixed;
        top: 0; //start Top left
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

// set textcolor function

@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return black;
  } @else {
    @return white;
  }
}

//media query mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
