@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

::selection{
  color: blue;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); //minus the footer so footer stays on bottom

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.6rem;

      &:hover {
        color: $secondary-color;
        //easeOut Function verwenden
        @include easeOut();
      }
    }
  }

  //contact
  /*.contact {
    padding-left: 0.4rem;
    margin-top: 2rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: lighter;

    .mail {
      &:hover {
        color: $secondary-color;
        //easeOut Function verwenden
        @include easeOut();
      }
    }

    color: set-text-color($primary-color);
  }*/

  //Any main-element that has an ID of "home"
  &#home {
    overflow: hidden; //no scrollbars
    h1 {
      margin-top: 20vh; //Takes about 20 slices of the Screen (of about 100), vertically
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(2, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    // border-radius: 50%;
    margin: 0 1.5rem 1.5rem 0;
    width: 50vw;
    @media(max-width: 768px){
      width: 100%;
    }
    margin: 0 auto;
     border: $secondary-color 1px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.2rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

//Projects
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); //3 images in 1 line

  img {
    //float: left;
    width: 100%; //shrink all images inside .projects down
    //height: 100%;
    //object-fit: cover;
    border: 3px white solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

//Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn; //extend .btn class from above to these USED classes
  background: darken($primary-color, $amount: 50);
  color: white;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile"; //run it after main css
